__pycache__/
config.yaml
data/
*.pyc
.venv/
.claude/
.idea/
config.yaml
.idea/**
graphify-out/
.idea
#####  zig ############
.zig-cache
zig
zig-out
zig-pkg
zig-pkg/**
##### zip ... file #############
.zip
.rar
.deb
**/sqlite-*





